node_modules
web_modules
.firebase
.firebaserc
.glitchdotcom.json
.pm2
.snowpack
build
src/.DS_Store
src/public/.DS_Store
src/public/styles/.DS_Store
styles/.DS_Store
.DS_Store
.bash_history
.cache/
.node-gyp/
.env
Thumbs.db
*.swp
bio.code-workspace